*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

.Person{
    background-color:#eeeeee;
    width:17rem;
    border:1px solid #eeeeee;
    border-radius:0.3rem;
    margin:2rem auto;
    text-align:center;
    padding:1rem;
    transition: all 0.3s linear;
}

.Person img{
     border-radius: 50%;
     border:0.1rem solid teal
}
.Person h4{
  text-transform: capitaliized;
  margin:0.5rem 0;
  letter-spacing:0.15rem;
  color:teal
  
}
.Person:hover {
    box-shadow:2px 5px rbga(0,0,0,0.3);
}
